@font-face {
    font-family: 'JMH';
    src: url('JMH.woff2') format('woff2'),
        url('JMH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JDGY';
    src: url('JDGY.woff2') format('woff2'),
        url('JDGY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    src: url('DIN-Bold.woff2') format('woff2'),
        url('DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


